.login_div1 , .login_div2
{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}

body
{
    background-image: url("Login\ Page\ Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line
{
    background-color: black;
}

#heading
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player1_login
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player2_login
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}